a {
  text-decoration: none;
}
body {
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.main {
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .navigation {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    font-size: 20px;
    .checkBtn {
      color: #F4D47E;
      position: absolute;
      top: 23%;
      right: 6%;
      font-size: 180%;
      display: none;
    }
    #check {
      position: absolute;
      top: 30%;
      left: 0;
      display: none;
    }

    ul {
      text-align: right;
      top: 0;
      right: 0;
      position: absolute;
      width: 60%;
      cursor: pointer;
      margin-right: 5%;
      li {
        list-style: none;
        display: inline-block;
        margin: 0 1%;
        a {
          color: #FEFFFF;
          margin: 1%;
          &:hover,:focus {
            color: #F4D47E;
          }
        }
      }
    }
  }
  .face-page {
    left: 50%;
    top: 40%;
    position: absolute;
    text-align: center;
    color: #301C05;
    font-size: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 40%;
      animation: arrow 1s infinite;
    }
    @keyframes arrow {
      from {
        transform: translate(0,0);
      }
      to {
        transform: translate(0,10%);
      }
    }
  }
  .icon-page {
    position: absolute;
    top: 12%;
    left: 5%;
    z-index: 4;
    width: 7%;
    display: flex;
    flex-direction: column;
    img {
      width: 50%;
      margin: 1% 0;
      transition: .5s ease;
      &:hover {
        transform: translateX(30%);
        cursor: pointer;
      }
    }
  }
  .paralax {
    position: absolute;
    height: 100%;
    &-item {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .p-item1 {
      background: url("../img/m_1.png") center/cover no-repeat;
    }
    .p-item3 {
      background-size: cover;
      background: url("../img/mountain.png") bottom/100% no-repeat;
      z-index: 2;
    }
    .p-item4 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: url("../img/cloud_059.png");
    }
  }
  .section {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .home {
    z-index: 1;
    max-width: 100%;
    margin-top: 100vh;
    &-header {
      text-align: center;
      &-text {
        font-size: 7rem;
        font-weight: 600;
        color: #FEFFFF;
        margin-bottom: 5%;
      }
      &-disc {
        color: #F4D47E;
        font-weight: 600;
        font-size: 4rem;
      }
    }
  }
  .navigationName {
    font-size: 3rem;
    font-weight: 600;
    margin: 4% 0;
    color: #FEFFFF;
    text-align: center;
    animation: bounce;
    animation-duration: 1.3s;
  }
  .skills {
    &-text {
      color: #F4D47E;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: baseline;
      font-size: 2rem;
      word-wrap: normal;
      &-knowledge {
        background: rgba(0,0,0,.4);
        border-radius: 20px;
        padding: 3%;
        animation: bounceInUp;
        animation-duration: 1.5s;
        word-wrap: normal;
      }
      .progress {
        padding: 1px;
        width: 100%;
        border: 1px solid #301C05;
        border-radius: 5px;
        height: 10px;
        .html {
          width: 90%;
        }
        .js {
          width: 75%;
        }
        .vue {
          width: 85%;
        }
        .figma {
          width: 90%;
        }
      }
      .bar {
        height: 100%;
        width: 0;
        background: linear-gradient(135deg,#F4D47E, #301C05);
        border-radius: 5px;
      }
    }
  }

  .portfolio {
    margin-top: 5%;
    &-container {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      color: #FEFFFF;
      transform: skewY(-10deg);
      margin-top: 15%;
      z-index: 2;
      &-card:nth-child(3) {
        animation: fadeInDownBig;
        animation-duration: 1.5s;
      }
      &-card:nth-child(2) {
        animation: fadeInDownBig;
        animation-duration: 1.7s;
      }
      &-card:nth-child(1) {
        animation: fadeInDownBig;
        animation-duration: 1.9s;
      }
      &-card {
        transition: 0.5s;
        position: relative;
        width: 300px;
        height: 400px;
        background: linear-gradient(45deg, #F4D47E, #301C05);
        &:before {
          content: '';
          position: absolute;
          top: -15px;
          left: 0;
          width: 100%;
          height: 15px;
          background: linear-gradient(45deg, #F4D47E, #301C05);
          transform-origin: bottom;
          transform: skewX(45deg);
          transition: .5s ease;
        }
        &:after {
          content: '';
          position: absolute;
          top: -15px;
          left: -15px;
          width: 15px;
          height: 50%;
          background: linear-gradient(45deg, #F4D47E, #301C05);
          transform-origin: left;
          transform: skewY(45deg);
          transition: .5s ease;
          border-bottom: 200px solid #F4D47E;
        }
        &:hover, :focus {
          transform: translateY(-40px);
          cursor: pointer;
        }
        &-disc {
          width: 300px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &-content {
          width: 100%;
          text-align: center;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(transparent,transparent,rgba(0,0,0,.1));
            transform-origin: bottom;
            transform: skewX(45deg);
            transition: 0.5s;
            z-index: -1;
          }
          img {
            width: 100%;
            height: 300px;
          }
        }
      }
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    height: 70vh;
    &-case {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      color: #F4D47E;
      font-size: 2rem;
      &-text:nth-child(1) {
        animation: fadeInLeftBig;
        animation-duration: 1.5s;
      }
      &-text:nth-child(2) {
        animation: fadeInRightBig;
        animation-duration: 1.7s;
      }
      &-text {
        background: rgba(0,0,0,.4);
        border-radius: 20px;
        padding: 3%;
      }
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    &-page {
      font-size: 3rem;
      font-weight: 600;
      color: #FEFFFF;
      animation: bounce;
      animation-duration: 1.5s;
    }
    &-line {
      width: 200px;
      height: 2px;
      background: #FEFFFF;
      border-radius: 6px;
    }
    &-disc {
      color: #F4D47E;
      font-size: 1rem;
      text-align: center;
      margin: 1% 0 8% 0;
    }
    &-form {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-bottom: 5%;
      ._error {
        box-shadow: 0 8px 15px red;
      }
      &-input {
        color: #FEFFFF;
        opacity: 0.6;
        background: #301C05;
        border: none;
        margin: 2% 0;
        line-height: 2.3rem;
        border-radius: 8px;
        outline: none;
        font-weight: bold;
        &:focus {
          box-shadow: 7px 7px 47px 18px #FEFFFF;
        }
      }
      &_btn {
        background: #F4D47E;
        margin: 2% 0;
        line-height: 2rem;
        width: 40%;
        border: none;
        border-radius: 8px;
        color: #301C05;
        font-weight: bold;
        &:hover {
          box-shadow: 7px 7px 27px 14px #FEFFFF;
          cursor: pointer;
        }
        &:active {
          background: linear-gradient(45deg,#F4D47E, #301C05);
        }
      }
    }
    &-icon {
      margin: 2% 0;
      text-align: center;
      img {
        width: 12%;
        margin: 0 1%;
        transition: .5s ease;
        &:hover {
          transform: translate(-5%,-20%);
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-height: 800px) {
  .main {
    .paralax {
      .p-item3 {
        background: url("../img/mountain.png") bottom/100% 50% no-repeat;
      }
    }
    .portfolio {
      margin-top: 40%;
    }
  }
}
@media (max-height: 690px) {
  .main {
    .home {
      &-header {
        &-text {
          font-size: 5rem;
        }
        &-disc {
          font-size: 3rem;
        }
      }
    }
    .skills {
      &-text {
        &-knowledge {
          padding: 2%;
        }
      }
    }
    .portfolio {
      margin-top: 50%;
      &-container {
        margin-top: 6%;
      }
    }
    .contact {
      margin-top: 5%;
    }
  }
}
@media screen and (max-width: 1000px) {
  .main {
    .skills {
      &-text {
        &-knowledge {
          padding: 2%;
          ul {
            li {
              word-wrap: anywhere;
            }
          }
        }
      }
    }
    .portfolio {
      height: 100%;
      &-container {
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        &-card {
          margin: 3% 0;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .main {
    .section {
      height: 80vh;
    }
    .icon-page {
      display: none;
    }
    .navigation {
      .checkBtn {
        display: block;
        z-index: 3;
      }
      #check:checked ~ ul {
        left: -5%;
      }
      ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0, 0.8);
        font-size: 50px;
        padding-top: 25%;
        top: -7%;
        left: -112%;
        transition: all .5s;
        li {
          margin: 1% 0;
          display: block;
          text-align: center;
        }
      }
    }
    .portfolio {
      height: 100%;
      &-container {
        &-card:nth-child(1){
          animation: fadeInRight;
          animation-duration: 2s;
        }
        &-card:nth-child(2){
          animation: fadeInLeft;
          animation-duration: 2s;
        }
        &-card:nth-child(3){
          animation: fadeInRight;
          animation-duration: 2s;
        }
        &-card {
          margin: 3% 0;
        }
      }
    }
    .about {
      height: 60vh;
    }
    .contact-form {
      width: 80%;
    }
  }
}
@media screen and (max-width: 700px) {
  .main {
    .face-page {
      left: 38%;
    }
    .home-header-text {
      font-size: 5rem;
    }
    .home-header-disc {
      font-size: 2.5rem;
    }
    .skills-text {
      flex-direction: column;
      align-items: stretch;
      margin: 0 5%;
      font-size: 1.5rem;
      &-knowledge {
        margin: 3% 0;
      }
    }
    .about-case {
      font-size: 1.4rem;
    }
  }
}
@media screen and (max-width: 414px) {
  .main {
    .navigation {
      ul {
        font-size: 40px;
        padding: 40% 7%;
        left: -115%;
      }
      .checkBtn {
        font-size: 170%;
      }
    }
    .navigationName {
      font-size: 2rem;
    }
    .face-page {
      left: 30%;
    }
    .icon-page {
      width: 23%;
    }
    .home-header-text {
      font-size: 4rem;
    }
    .home-header-disc {
      font-size: 2rem;
    }
    .portfolio {
      .media {
        margin-top: 10%;
      }
      &-container {
        &-card {
          margin: 5% 0;
          width: 250px;
          height: 350px;
          &:after {
            border-bottom: 175px solid #F4D47E;
          }
        }
      }
    }
    .about-case {
      font-size: 1.1rem;
    }
  }
}

